.formm{
   display: flex;
   width:500px;
   justify-content: space-around;
   align-items: center;
   margin-top: 50px;
   margin-left:auto;
   margin-right: auto;
   border: 1px solid gray;
   padding: 20px;

}

.table_format{
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-device-width: 480px)
{
    .table{
        width:200px;
    }
}