.form{
    display: flex;
    flex-direction: column;
}

.form__extend {
  display: flex;
  padding: 10px;
  align-items: center;
}

.form__extend h3 {
  margin-right: 10px;
}

.form__square {
  display: flex;
  align-items: center;
}

.form__square h4 {
  margin-right: 10px;
  margin-top: 10px;
}

.value{
    margin-top:10px;
    margin-bottom: 10px;
}